@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

body,
* {
  background: #ffffff;
  margin: 0 auto;
  font-family: "Mulish";
}

.wrapper {
  width: 100%;
  //padding: 0.75em 1em 0em 1em;
  display:flex;
  min-height:100%;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.container {
  max-width: 1200px;
  background: orange;
}

@media (max-width:1200px){
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px){
  .container {
    max-width: 750px;
  }
}
@media (max-width:767px){
  .container {
    max-width: none;
  }
}

.header {
 display: flex;
  flex-direction: row;
  place-content: space-between;
  justify-content: space-between;
  margin-top: 1em;

  margin-bottom: 1.8em;

  .logo-wrap {
    margin:0px;
    height: 30px;
  }

  .logo {
    padding: 0 0 0 0em;
  }

  .header-right {
    height: 25px;
    margin: 0px;
    display: flex;
    place-content: space-between;
    align-items: center;
  }

  .search-button {
    border: none;
    background: url("../assets/icons/search.svg") no-repeat;
    background-size: cover;
    height: 19px;
    cursor: pointer;
  }

  .avatar-button {
//    padding-left: 0.08em;
    border: none;
    background: url("../assets/img/avatar.png") no-repeat;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    background-size: cover;
    cursor: pointer;
  }
}

.videos-wrapper {

  .videos-list {
    padding: 0em 0em 0em 0em;
    height: 100%;
    list-style-type: none;

   // li:first-child {
      //margin: 1.1em 0 1.9em 0;
      //height: 198px;
   // }
  }

  h2 {
    //margin-top: 0.6em;
    font-size: 16px;
    font-weight: 700;
  }

  .video-item {
    //margin: 1em 0 2em 0;
    //height: 198px;


  .video-desc {
      //margin-top: 0.3em;
      display: flex;
      place-content: space-between;

      span {
        color: #c2c2c2;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        word-spacing: 0.1rem;
      }
    }
  }

  .home-video {
    width: 100%;
    margin-bottom: 8px;
    height: 150px;

    .video-thumb {
      z-index: -999;
    }

    .time {
      position: absolute;
      margin-top: -38px;
      margin-left: 230px;
      padding: 3px 10px 3px 10px;
      color: #ffffff;
      background: rgba(0,0,0,0.3);
      border-radius: 12px;
      font-size: 14px;
    }

    img {
      width: 288px;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

.footer-nav {
  display: flex;
  place-content: space-between;
  //padding: 0px 0px 0px 3px;
  padding-left: 0px;
  font-size: 10px;
  //width: 288px;
  color: #898989;
  list-style-type: none;
  margin-bottom: 1em;

  li {
    padding-left: 0px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}