@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

body,
* {
  background: #ffffff;
  margin: 0;
  font-family: "Mulish";
}

.wrapper {
  width: 300px;
  padding: 0.75em 1em 0em 1em;
  background: rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  justify-content: space-between;
  margin-bottom: 1.1em;


  .logo-wrap {
    width: 116px;
    height: 30px;
  }

  .logo {
    padding: 0 0 0 0em;
  }

  .header-right {
    width: 73px;
    height: 25px;
    display: flex;
    place-content: space-between;
    align-items: center;
  }

  .search-button {
    border: none;
    background: url("../assets/icons/search.svg") no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }

  .avatar-button {
    padding-left: 0.08em;
    border: none;
    background: url("../assets/img/avatar.png") no-repeat;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
  }
}

.videos-wrapper {

  .videos-list {
    padding: 0em 0.7em 0em 0em;
    height: 100%;
    list-style-type: none;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
  }

  .video-item {
    margin: 1em 0 2em 0;
    height: 198px;

  .video-desc {
      margin-top: 0.3em;
      display: flex;
      place-content: space-between;

      span {
        color: #c2c2c2;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        word-spacing: 0.1rem;
      }
    }
  }

  .home-video {
    width: 100%;
    margin-bottom: 8px;
    height: 150px;

    .video-thumb {
      z-index: -999;
    }

    .time {
      position: absolute;

      margin-top: -38px;
      margin-left: 230px;
      padding: 3px 10px 3px 10px;

      color: #ffffff;
      background: rgba(0,0,0,0.3);
      //border: 1px black solid;

      border-radius: 12px;
      font-size: 14px;

    }

    img {
      width: 288px;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

.footer-nav {

  display: flex;
  place-content: space-between;
  font-size: 10;
  color: #898989;
  list-style-type: none;
}